body {
  background: #000 url('background.png') repeat;
  padding: 0;
  margin: 0;
}
body, #entry {
  background: #22252a;
  background: #000 url('background.png') repeat;
  color: #eee;
}
body, table {
  font-family: DejaVu Sans Mono, fixed; 
  font-size: 14pt;
  line-height: 120%;
  margin: 0;
}
tr,td,table {
  padding: 0 5px;
  margin: 0;
  outline-width: 0;
  border-width: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0
}


a { text-decoration: none; color: #888; }
a:hover { text-decoration: underline; color: #aaa; }

#loading, #connect {
  background: #22252a;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1em;
}

#loading { z-index: 10000000; }
#connect { z-index: 10000001; }

#loading p, #connect fieldset  {
  font-family: DejaVu Sans Mono, fixed; 
  width: 30em;
  border: 0;
}

#toolbar {
  position: fixed;
  color: #fff;
  width: 100%; 
  bottom: 0;
  background: #333;
  padding:2px 0;
}

#entry {
  width: 100%;
  font-size: inherit;
  padding: 0.5em;
  margin: 0;
  border-width: 0;
  outline-width: 0;
  clear: both;
}

#log {
  display: block;
  /* enough padding to clear the toolbar.. is there a better way to do this? */
  padding-bottom: 5.1em; 
  background: inherit;
  overflow: hidden;
}

/* not very important info */
table.message { width:100%; border-bottom:1px solid #444; }
td.date { width:50px; }
td.nick { width:75px; }
.notice td, .join td, .part td, .message .date { color: #999; }
.message .date { color: #505050; }
.error td { color: #B00; }
.personal .nick, .notice .nick { color: #988; }

.message {
  margin: 0.1em 3px;
}

.message td {
  vertical-align: top;
}

.nick { 
  font-weight: bold;
  padding: 0 1em 0 0.5em;
}

.nick a {
  color: inherit;
}

#toolbar ul {
  margin: 0;
  padding: 0 10px;
  list-style: none;
}

#toolbar li {
  display: block; 
  float: left;
  margin: 0 2em 0 0;
  padding-left:10px;
}

#usersLink, #filesLink {
  color: inherit;
}
